/* Common Rules */

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Roboto");

.flex {
    display: flex;
}

.block {
    display: block;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.middle {
    align-items: center;
}

.inline {
    display: inline-block;
}

.list-style-none {
    list-style: none;
}

.text-decoration-none {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.border-solid {
    border: 2px solid black;
}

.border-round {
    border-radius: 10px;
}

.no-padding {
    padding: 0;
}

.white {
    color: white;
}

body {
    background-color: #F4F4EB;
}

.bar {
    background-color: #646EC1;
    padding: 10px 60px 10px 10px;
}

.logo {
    height: 70px;
}

.nav {
    width: 800px;
}

.nav-link {
    font-size: 18px;
    font-weight: bold;
}

h1, h2, h3, .nav-link {
    font-family: "Source Sans Pro";
}

p, address, a, small, legend, label {
    font-family: "Roboto";
}

.footer {
    position: absolute;
    bottom: 8px;
    width: 95.5%;
}

.contact {
    width: 190px;
}

.social-icon {
    width: 30px;
    margin-left: 5px;
}

/* Home Page Rules */

.container-home {
    padding: 10px 0px;
}

.main {
    width: 70%;
    padding: 20px 20px;
}

.binary-bulbs {
    width: 500px;
    margin: 50px auto;
    padding: 1px;
}

.aside {
    width: 20%;
    padding: 10px 20px;
}

.aside-icon {
    margin: 20px auto;
    width: 100px;
}

/* Sign Up Page Rules */

.fieldset {
    margin-top: 20px;
}

.legend {
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px 7px;
}

.form-input {
    margin: 10px;
}
